body {
    background-color: rgb(192, 192, 192);
}

.navbar {
    background-color: rgb(226, 223, 218);
}

img {
    height: 500px;
    width: 500px;
    margin-top: 30px;
}


/* Project Page  */


.project-card {
    background-color: rgb(219, 219, 219);
    padding-bottom: 20px;
}

.project-img {
    width: 500px;
    height: 300px;
}


.project-text {
    margin-top: 80px;
}